/* src/styles/HelloAstro.css */
.hello-astro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1e26;
    padding: 20px;
    color: white;
  }
  
  .hello-astro .text-section {
    flex: 1;
    padding-right: 20px;
  }
  
  .hello-astro h1 {
    font-size: 3em;
    color: #ffb3ff;
  }
  
  .hello-astro p {
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  .hello-astro .button-group {
    margin-top: 20px;
  }
  
  .hello-astro .button-group button {
    background-color: #8e44ad;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .hello-astro .button-group button:nth-child(1) {
    background-color: #dcd4ff;
    color: #1c1e26;
  }
  
  .hello-astro .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hello-astro .image-section img {
    max-width: 100%;
    border-radius: 10px;
  }
  